<p id="notice"><%= notice %></p>

<p>
  <strong>Compromisso:</strong>
  <%= @agenda.compromisso %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @agenda.descricao %>
</p>

<%= link_to 'Edit', edit_agenda_path(@agenda) %> |
<%= link_to 'Back', agendas_path %>
